In [1]:
import os

import pandas as pd
import numpy as np
import sqlite3
import pandas 

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

import seaborn as sns

# Import SQLAlchemy `automap` and other dependencies here
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

app = Flask(__name__)

In [2]:
engine = create_engine("sqlite:///meter_restaurant.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [3]:
meters = Base.classes.meters
restaurant_yelp = Base.classes.restaurant_yelp
meter_restaurant = Base.classes.meter_restaurant

In [4]:
connect = sqlite3.connect('meter_restaurant.sqlite')
df = pd.read_sql_query("SELECT * FROM restaurant_yelp", connect)
df.head()

,yelp_id,alias,category_alias,category_title,latitude,longitude,display_phone,distance,image_url,is_closed,...,state,zip_code,name,phone,price,rating,review_count,url,total_likes,likes
0,wGl_DyNxSv8KUtYgiuLhmA,bi-rite-creamery-san-francisco,icecream,Desserts,37.761591,-122.425717,(415) 626-5600,946.386738,https://s3-media2.fl.yelpcdn.com/bphoto/tLwFRw...,FALSE,...,CA,94110,Bi-Rite Creamery,1.415627e+10,$,4.5,9467,https://www.yelp.com/biz/bi-rite-creamery-san-...,None,12
1,lJAGnYzku5zSaLnQ_T6_GQ,brendas-french-soul-food-san-francisco,breakfast_brunch,Breakfast & Brunch,37.782902,-122.419043,(415) 345-8100,2885.389131,https://s3-media3.fl.yelpcdn.com/bphoto/mEzEYZ...,FALSE,...,CA,94102,Brenda's French Soul Food,1.415346e+10,$$,4.0,10505,https://www.yelp.com/biz/brendas-french-soul-f...,None,5
2,WavvLdfdP6g8aZTtbBQHTw,gary-danko-san-francisco,newamerican,American,37.805870,-122.420580,(415) 749-2060,5191.341803,https://s3-media3.fl.yelpcdn.com/bphoto/CAprIo...,FALSE,...,CA,94109,Gary Danko,1.415749e+10,$$$$,4.5,5389,https://www.yelp.com/biz/gary-danko-san-franci...,None,6
3,ri7UUYmx21AgSpRsf4-9QA,tartine-bakery-and-cafe-san-francisco,bakeries,Bakeries,37.761425,-122.424051,(415) 487-2600,1091.249586,https://s3-media2.fl.yelpcdn.com/bphoto/6XiycX...,FALSE,...,CA,94110,Tartine Bakery & Cafe,1.415487e+10,$$,4.0,7640,https://www.yelp.com/biz/tartine-bakery-and-ca...,None,2
4,76smcUUGRvq3k1MVPUXbnA,mitchells-ice-cream-san-francisco,icecream,Desserts,37.744231,-122.422816,(415) 648-2300,2207.086160,https://s3-media4.fl.yelpcdn.com/bphoto/-BBzTT...,FALSE,...,CA,94110,Mitchell's Ice Cream,1.415648e+10,$,4.5,3846,https://www.yelp.com/biz/mitchells-ice-cream-s...,None,1

In [5]:
list(df.columns)

['yelp_id',
 'alias',
 'category_alias',
 'category_title',
 'latitude',
 'longitude',
 'display_phone',
 'distance',
 'image_url',
 'is_closed',
 'address',
 'address2',
 'address3',
 'city',
 'country',
 'state',
 'zip_code',
 'name',
 'phone',
 'price',
 'rating',
 'review_count',
 'url',
 'total_likes',
 'likes']

In [6]:
inspector = inspect(engine)
inspector.get_table_names()

['meter_restaurant', 'meters', 'restaurant_yelp']

In [7]:
# columns = inspector.get_columns('restaurant_yelp')
# for column in columns:
#     print(column['name'], column["type"])
# rating = df.groupby('rating').size().sort_values(ascending=False)
# rating
# price = df.groupby('price').size().sort_values(ascending=False)
# price

In [8]:
session = Session(engine)

In [11]:
food_type_cheap = session.query(restaurant_yelp.category_title, func.count(restaurant_yelp.review_count)).\
    group_by(restaurant_yelp.category_title).filter(restaurant_yelp.price == '$').order_by(func.count(restaurant_yelp.review_count).desc()).all()
food_type

NameError: name 'food_type' is not defined

# What are the most popular cuisine?
# List the cuisine and the reviews in descending order.
food_type = session.query(restaurant_yelp.category_title, func.count(restaurant_yelp.review_count)).\
    group_by(restaurant_yelp.category_title).filter(restaurant_yelp. == 'USC00519281').order_by(func.count(restaurant_yelp.review_count).desc()).all()
food_type
# session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
#     filter(Measurement.station == 'USC00519281').all()

In [23]:
sel = [restaurant_yelp.category_title,
       func.sum(restaurant_yelp.review_count).filter(restaurant_yelp.review_count == "$"),
       func.avg(restaurant_yelp.review_count)]

results = session.query(*sel).group_by(restaurant_yelp.category_title).order_by(restaurant_yelp.category_title).all()
results

OperationalError: (sqlite3.OperationalError) near "AS": syntax error
[SQL: SELECT restaurant_yelp.category_title AS restaurant_yelp_category_title, sum(restaurant_yelp.review_count) FILTER (WHERE restaurant_yelp.review_count = ?) AS anon_1, avg(restaurant_yelp.review_count) AS avg_1
FROM restaurant_yelp GROUP BY restaurant_yelp.category_title ORDER BY restaurant_yelp.category_title]
[parameters: ('$',)]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [11]:
df3 = pd.read_sql_query("SELECT * FROM meter_restaurant", connect)
df3.head()

,yelp_id,meter1,meter2,meter3,meter4,meter5,meter6,meter7,meter8,meter9,meter10,resturant_name
0,wGl_DyNxSv8KUtYgiuLhmA,223043,223831,223429,223027,223217,223068,223466,223693,223996,223476,Bi-Rite Creamery
1,lJAGnYzku5zSaLnQ_T6_GQ,213043,213075,217056,217544,217102,213013,217307,213684,213018,213410,Brenda's French Soul Food
2,WavvLdfdP6g8aZTtbBQHTw,206810,206497,206813,206665,206605,206801,206403,207007,206530,206144,Gary Danko
3,ri7UUYmx21AgSpRsf4-9QA,223772,223476,223361,223693,223987,223831,223734,223068,223429,223027,Tartine Bakery & Cafe
4,76smcUUGRvq3k1MVPUXbnA,221741,221993,221915,221745,221811,221740,221095,221661,221800,221876,Mitchell's Ice Cream

In [12]:
df2 = pd.read_sql_query("SELECT * FROM meters", connect)
df2.head()

   objectid  street_num    street_name   longitude   latitude meter_type
0    197012         436  CALIFORNIA ST -122.402335  37.792967         SS
1    197013         109     JACKSON ST -122.398770  37.796977         SS
2    197014         432  CALIFORNIA ST -122.402191  37.792986         SS
3    197015         221     SANSOME ST -122.401150  37.792757         SS
4    197016         133     STEUART ST -122.392658  37.792929         SS

In [13]:
meter_df = pd.read_sql_query("SELECT * FROM meters", connect)
meter_df

,objectid,street_num,street_name,longitude,latitude,meter_type
0,197012,436,CALIFORNIA ST,-122.402335,37.792967,SS
1,197013,109,JACKSON ST,-122.398770,37.796977,SS
2,197014,432,CALIFORNIA ST,-122.402191,37.792986,SS
3,197015,221,SANSOME ST,-122.401150,37.792757,SS
4,197016,133,STEUART ST,-122.392658,37.792929,SS
5,197017,27,EMBARCADERO NORTH,-122.394854,37.795619,SS
6,197018,331,EMBARCADERO NORTH,-122.396884,37.798065,SS
7,197019,208,WASHINGTON ST,-122.398594,37.796179,MS
8,197020,3,DRUMM ST,-122.396549,37.793841,SS
9,197021,209,FRONT ST,-122.398943,37.793746,SS
10,197022,301,FRONT ST,-122.399089,37.794430,SS
11,197023,125,SACRAMENTO ST,-122.397573,37.794422,SS
12,197024,307,SACRAMENTO ST,-122.399327,37.794193,SS
13,197025,14,MAIN ST,-122.396202,37.792753,MS
14,197026,511,COMMERCIAL ST,-122.401983,37.794322,SS
15,197027,110,JACKSON ST,-122.398856,37.797083,SS
16,197028,119,JACKSON ST,-122.399147,37.796929,SS
17,197029,441,CALIFORNIA ST,-122.402486,37.792826,MS
18,197030,12,CALIFORNIA ST,-122.396973,37.793666,MS
19,197031,309,WASHINGTON ST,-122.399468,37.795955,SS
20,197032,314,WASHINGTON ST,-122.399228,37.796098,MS
21,197033,5,MISSION ST,-122.392790,37.793439,SS
22,197034,225,SANSOME ST,-122.401163,37.792819,SS
23,197035,214,DRUMM ST,-122.396729,37.795967,SS
24,197036,416,BATTERY ST,-122.400337,37.795521,SS
25,197037,102,CLAY ST,-122.397005,37.795483,SS
26,197038,108,CALIFORNIA ST,-122.397973,37.793539,SS
27,197039,505,COMMERCIAL ST,-122.401654,37.794364,SS
28,197040,121,DAVIS ST,-122.397816,37.794113,SS
29,197041,112,DRUMM ST,-122.396512,37.794900,SS
...,...,...,...,...,...,...
32834,229846,2510,NORIEGA ST,-122.490718,37.753711,SS
32835,229847,1957,OCEAN AVE,-122.464022,37.725851,SS
32836,229848,2453,OCEAN AVE,-122.470842,37.730522,SS
32837,229849,1547,HOLLOWAY AVE,-122.475933,37.720716,SS
32838,229850,1502,TARAVAL ST,-122.482366,37.742839,SS
32839,229851,2431,NORIEGA ST,-122.489962,37.753552,SS
32840,229852,3000,OCEAN AVE,-122.474713,37.731950,MS
32841,229853,2410,25TH AVE,-122.482064,37.742522,SS
32842,229854,1936,OCEAN AVE,-122.463366,37.725799,SS
32843,229855,1916,OCEAN AVE,-122.462565,37.725491,SS
32844,229856,2422,IRVING ST,-122.484376,37.763311,SS
32845,229857,2302,IRVING ST,-122.482683,37.763386,SS
32846,229858,2442,OCEAN AVE,-122.470527,37.730574,SS
32847,229859,1626,HOLLOWAY AVE,-122.477966,37.720928,SS
32848,229860,2404,22ND AVE,-122.478823,37.742734,SS
32849,229861,2523,OCEAN AVE,-122.472739,37.731366,SS
32850,229862,2407,25TH AVE,-122.482177,37.742581,SS
32851,229863,3000,OCEAN AVE,-122.474718,37.732072,MS
32852,229864,2364,25TH AVE,-122.482068,37.742995,SS
32853,229865,1946,OCEAN AVE,-122.463658,37.725912,SS
32854,229866,1603,TARAVAL ST,-122.483410,37.742628,SS
32855,229867,2638,OCEAN AVE,-122.473988,37.732116,SS
32856,229868,3000,OCEAN AVE,-122.474696,37.732142,MS
32857,229869,2435,OCEAN AVE,-122.470345,37.730308,SS
32858,229870,1792,32ND AVE,-122.490357,37.754000,SS
32859,229871,1010,TARAVAL ST,-122.477169,37.743067,SS
32860,229872,1415,TARAVAL ST,-122.481638,37.742706,SS
32861,229873,2420,IRVING ST,-122.484298,37.763315,SS
32862,229874,1293,26TH AVE,-122.484713,37.763476,SS
32863,229875,1614,HOLLOWAY AVE,-122.477533,37.720914,SS

In [14]:
lat=meter_df['latitude']
long=meter_df['longitude']
metersid=meter_df['objectid']

url = 'http://api.sfpark.org/sfpark/rest/availabilityservice?'
query_url=f"{url}lat={lat}&long={long}&radius=0.01&uom=mile&response=json"

meterstatus = []

In [15]:
import requests

i=1
for meter in metersid:
    try:
            response = requests.get(query_url).json()
            if response['cod'] == 200:
                print("Processing Record " + str(i) + " of Set 1 | " + meter)
                #city_data.append(response)
                meterstatus.append(response['AVL']['TYPE'])
                
            else:
                print(f"meter not found,skipping...")
    except:
            print(f" {resonse} Exception...")

    i=i+1

NameError: name 'resonse' is not defined

In [ ]:
import random
meter_status=[]
for meter in metersid:
    my_randoms.append(random.randrange(0,1)
    print (meter_status)